a{
    margin: 0 0 50px 0;
}

.about-me {
    text-align: center;
    margin: 0px auto 50px auto;
    width: 30%;
    color: #40514E
}

body {
    text-align: center;
    margin: 0px;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2em;
}

.bottom-cloud{
    position: absolute;
}

.bottom-container{
    background-color: #66BFBF;
    height: 200px;
    margin: 0px;
    padding-top: 50px;
}

.email{
    margin: 0 0 30px 0;
    color: white
}
h1 {
    font-size: 5.625rem;
    margin: 50px auto 50px auto;
    font-family: 'Sacramento', cursive;
    color: #66BFBF;
    font-weight: bold;
}

h2 {
    font-size: 2.5rem;
    font-family: 'Montserrat', sans-serif;
    color: #66BFBF;
    margin: 33.2px auto 33.2px auto;
    font-weight: bold;
}

h3 {
    font-family: 'Montserrat', sans-serif;
       color: #11999E;
}

hr {
    margin: 100px auto;
    border-style: dotted none none none;
    border-color: #EAF6F6;
    border-width: 10px;
    width: 5%;
}

.footer-link{
    color: white;
    margin: 50px 20px;
    text-decoration: none;
}

p {
    font-weight: bold;
    margin: 0 auto 33.2px auto;
}

.profile-photo {
    height: 200px;
    width: 200px;
    margin-top: 100px;
}

.top-cloud{
    position: absolute;
    right: 650px;
    top: 50px;
}

.top-container {
    background-color: #e4f9f5;
    padding-top: 100px;
}

.sub-title{
    font-weight: normal;
    margin: 0 auto 18px auto;
}

.btn-info{
    color: #fff;
}
